<div class="container mt-3">
  <h1>Generate Link</h1>
  <div class="row justify-content-center mt-3">
    <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
      <div class="col-md-4">
        <div class="form-group">
          <label for="mainLink">Main Link</label>
          <input type="text" class="form-control" formControlName="mainLink" required>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">Generate Link</button>
        </div>
      </div>
    </form>
  </div>
</div>
